[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<4.2,>=4.1"
wagtail = "<4.2,>=4.1"
draftjs-exporter = "==5.0.0"
charset-normalizer = "==3.0.1"

[dev-packages]

[requires]
python_version = "3.11"
